@model VintageShop.Models.Arthist

@{
    ViewData["Title"] = "AllAlbums";
}

<h1>AllAlbums</h1>

<div class="table-responsive">
    <h4>Arthist</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Alias)</th>
                <th>@Html.DisplayFor(m => m.Alias)</th>
            </tr>
        </thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Albums)</th>

            @foreach (var item in Model.Albums)
            {
                <th>@item.Name</th>

            }

        </tr>

    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Albums)
        </dt>
        <dd class="col-sm-2">
            @foreach (var item in Model.Albums)
            {
                @item.Name
            }
        </dd>

    </dl>*@